*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: poppins;
}
body{
    text-align: center;
    padding: 2rem;
}
#image-container{
    width: 50%;
    margin: 2rem auto;
}
#slack-display-image{
    border-radius: 10%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#slack-user-name{
    font-size: 3.2rem;
}
#my-track{
    font-size: 2rem;
}
#github-url{
    background: black;
    width: fit-content;
    margin: 1rem auto 3rem auto;
    padding: 1rem 3rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}
#github-url:hover{
    cursor: pointer;
    padding: 1.2rem 3.2rem;
}
#github-url>a{
    color: white;
    text-decoration-line: none;
    font-size: 1.4rem;
}
#day-time-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
#current-day-of-the-week{
    font-size: 1.4rem;
}
.line{
    width: 2px;
    height: 2rem;
    background: black;
}
#clock{
    font-size: 1.4rem;
}